<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AkuzelUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AkuzelUI.styles.css" asp-append-version="true" />
    <img src="~/fonts/brand-icons.svg" />
    <img src="~/fonts/feather-icons.svg" />
    <img src="~/fonts/line-awesome.svg" />
    <img src="~/fonts/material-icons.svg" />
    <script src="~/js/tippy.all.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/icons.css" rel="stylesheet" />
    <link href="~/css/invoice.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/colors/blue.css" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Varela+Round'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/css/custom/site-panel.css" rel="stylesheet" />
    <link href="~/css/custom/homepage.css" rel="stylesheet" />
</head>
<body>
   <nav class="top-menu">
        <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="lefttopmenu">

            <li> <a href="tel:444 00 00"><i class="icon-feather-phone"></i> 444 00 00</a></li>
            <li> <a href="mailto:destek@akuzel.com"><i class="icon-material-baseline-mail-outline"></i> destek@akuzel.com</a> </li>
        </ul>
        <ul class="menu-items">

            <li><a href="#">İptal ve iade şartları</a></li>
            <li><a href="#">Makaleler</a></li>
            <li><a href="#">İletişim</a></li>

        </ul>
    </nav> 
    <header id="header-container" class="fullwidth">

        

        <!-- Header -->
        <div id="header" class="">
            <div class="container">

                <!-- Left Side Content -->
                <div class="left-side">

                    <!-- Logo -->
                    <div id="logo" class="">



                        <div class="letters">
                            <a href="/Home/Index"><span class="letter">A</span><span class="letter AJANS_">K</span><span class="letter AJANS_">U</span><span class="letter AJANS_">Z</span><span class="letter AJANS_">E</span><span class="letter">L</span></a>
                        </div>

                    </div>

                    <!-- Main Navigation -->
                    <nav id="navigation" class="">
                        <ul id="responsive">



                            <li>
                                <a href="#"><span>Dijital pazarlama</span></a>

                                <div class="dijitalpazarlama mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=1">Yerel SEO</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=2">E-ticaret SEO</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=16">Youtube SEO</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=42">Arama motoru SEO</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=43">Sosyal medya yönetimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=44">Arama motoru SEM</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=45">Video pazarlama</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=46">E-ticaret pazarlama</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=47">E-posta pazarlama</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=48">Topluluk yönetimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=49">Influencer marketing</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=50">Web Analizi &amp; İzleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=51">Reklam yönetimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=52">Mobil reklamcılık</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=53">Diğer dijital  pazarlama</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Video &amp; Animasyon</span></a>

                                <div class="dijitalpazarlama mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=3">Karakter animasyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=4">Logo animasyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=13">Müzik &amp; Şarkı videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=14">Intro &amp; Outro</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=15">Görsel video efektleri</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=54">Video düzenleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=55">3D ürün animasyonu</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=56">Video reklam</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=57">Ürün tanıtım videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=58">Uygulama tanıtım videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=59">Web site tanıtım videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=60">Sosyal medya videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=61">E-ticaret videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=62">Gif animasyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=63">Slayt gösteri videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=64">Oyun fragmanları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=65">Yayıncılar için animasyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=66">Çocuklar için animasyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=67">Video prodüksiyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=68">Özel gün videoları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=69">Diğer video &amp; animasyon </a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Müzik &amp; Ses</span></a>

                                <div class="dijitalpazarlama mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=5">Seslendirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=6">Ses düzenleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=70">Yapımcılar ve besteciler</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=71">Beste &amp; Söz/Şarkı yazarları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=72">Jingle &amp; Reklam Müziği</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=73">Podcast düzenleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=74">Trap müzik yapanlar</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=75">Sesli kitap prodüksiyonu</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=77">Arka plan müziği</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=78">Rap söz yazarları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=79">Diğer Müzik &amp; Ses kategorileri</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Yazı &amp; Çeviri</span></a>

                                <div class="dijitalpazarlama mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=80">Çeviri</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=81">Makale ve blog yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=82">Redaksiyon &amp; Kurgu</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=83">Kitap ve E-kitap yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=84">Kitap düzenleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=85">Podcast yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=86">Senaryo yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=87">Özgeçmiş yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=88">Reklam metni yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=89">Konuşma yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=90">Teknik yazarlık</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=91">Web sitesi içeriği</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=92">Ürün açıklama yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=93">Marka adı &amp; Sloganları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=94">Yorum ve inceleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=95">Metin yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=96">Şiir yazarlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=97">Diğer Yazı &amp; Çeviri</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Grafik &amp; Tasarım</span></a>

                                <div class="dijitalpazarlama mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=17">Logo tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=18">UI/UX Tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=19">İllüstrasyon</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=20">Fotoğraf &amp; Düzenleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=21">Dövme Tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=22">Reklam &amp; Banner Tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=23">3D Tasarım</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=24">Kurumsal Kimlik</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=25">Yayıncılar İçin Tasarımlar</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=26">Davetiye Tasarımları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=27">Broşür tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=28">Oyun Sanatı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=29">Sosyal Medya Tasarımları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=30">Ambalaj Tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=31">Storyboard Tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=32">Sunum &amp; Infografik</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=33">Karikatür &amp; Karakalem</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=35">Kartvizit tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=36">Katalog tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=37">Promosyon ürün tasarımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=98">Diğer Grafik &amp; Tasarım</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Yazılım &amp; Teknoloji</span></a>

                                <div class="yazilimveteknoloji mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=38">Web sitesi geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=39">Kurumsal web sitesi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=40">E-ticaret sitesi geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=41">Web sitesi bakımı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=99">Android uygulama geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=100">IOS uygulama geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=101">Masaüstü uygulama</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=102">Özel yazılım geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=103">Wordpress</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=104">Web sitesi oluşturucular &amp; CMS</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=105">Oyun geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=106">Blog geliştiriciler</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=107">Shopify </a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=108">Chatbots geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=109">Teknolojik destek &amp; BT</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=110">Veritabanları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=111">Siber güvenlik</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=112">Veri bilimi ve yapay zeka</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=113">Bilgi işlem &amp; Ağ</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=114">Elektronik mühendisliği</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=115">Blockchain ve Kripto Para</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=116">NFT Geliştirme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=117">Data analizi &amp; Raporlama</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=118">Diğer Yazılım &amp; Teknoloji</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=169">Hata giderme</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>İş &amp; Yönetim</span></a>

                                <div class="isyonetimi mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=119">Sanal asistan</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=120">Proje yönetimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=121">Pazar araştırma</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=122">Veri analitiği</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=123">Çağrı merkezi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=124">CRM Yönetimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=125">Muhasebe &amp; Defter tutma</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=126">Finansal danışmanlık</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=127">ERP Yönetimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=128">Yaşam koçluğu</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=129">Marka hizmetleri</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=130">Diğer İş &amp; Yönetim</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Fotoğraf</span></a>

                                <div class="fotografcilik mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=131">Mağaza &amp; Ofis fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=132">Ürün fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=133">Restoran &amp; Yemek fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=134">Moda fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=135">Drone fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=137">Organizasyon fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=138">Düğün çekimi</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=139">Emlak fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=140">Etkinlik fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=141">Model &amp; Oyuncu fotoğrafçılığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=142">Diğer fotoğrafçılık</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <a href="#"><span>Yapay zeka</span></a>

                                <div class="yapayzeka mega-menu mobile-styles three-columns">

                                    <div class="mega-menu-section">
                                        <ul>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=161">Yapay zeka danışmanlığı</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=162">AI içerik düzenleme</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=163">Midjourney Sanatçıları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=164">DALL-E sanatçıları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=165">AI uygulamaları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=166">ChatGPT uygulamaları</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=167">AI Sohbet robotu</a></li>
                                            <li><a href="/Home/KategoriGoster?AltKategoriId=168">Diğer yapay zeka</a></li>


                                        </ul>
                                    </div>

                                </div>
                            </li>







                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                    <!-- Main Navigation / End -->

                </div>
                <!-- Left Side Content / End -->
                <!-- Right Side Content / End -->
                <div class="right-side">
                    <div class="header-widget">
                        <a href="#sign-in-dialog" id="popupmodal" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Giriş yap</span></a>
                    </div>




                    <!-- Mobile Navigation Button -->
                    <span id="mmenuu" class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </span>

                </div>


                <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

                    <!--Tabs -->
                    <div class="sign-in-form">

                        <ul class="popup-tabs-nav">
                            <li class="active"><a href="#login">Giriş</a></li>
                            <li><a href="#register">Kaydol</a></li>
                        </ul>

                        <div class="popup-tabs-container">

                            <!-- Login -->
                            <div class="popup-tab-content" id="login" style="">

                                <!-- Welcome Text -->
                                <div class="welcome-text">
                                    <h3>Hoşgeldiniz!</h3>
                                    <span>Bir hesabın yok mu? <a href="#" class="register-tab">Kaydol!</a></span>
                                </div>

                                <!-- Form -->
                                <form action="/LoginFront/Login" method="post">
                                    <div class="input-with-icon-left">
                                        <i class="icon-material-baseline-mail-outline"></i>
                                        <input type="email" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Mail" required="">
                                    </div>
                                    <div class="input-with-icon-left">
                                        <i class="icon-material-outline-lock"></i>
                                        <input type="password" class="input-text with-border" name="password" id="password" placeholder="Şifre" required="">
                                    </div>
                                    <a href="" class="forgot-password">Şifremi unuttum?</a>
                                    <button class="button full-width button-sliding-icon ripple-effect" type="submit" style="width: 30px;">Giriş <i class="icon-material-outline-arrow-right-alt"></i></button>
                                </form>
                                <!-- Button -->
                                <!-- Social Login -->
                                <div class="social-login-separator"><span>Yada</span></div>
                                <div class="social-login-buttons">
                                    <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook ile bağlan</button>
                                    <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google ile bağlan</button>
                                </div>

                            </div>

                            <!-- Register -->
                            <div class="popup-tab-content" id="register" style="display: none;">

                                <!-- Welcome Text -->
                                <div class="welcome-text">
                                    <h3>Hadi yeni bir hesap oluşturalım!</h3>
                                </div>

                                <!-- Account Type -->
                                <div class="account-type">
                                    <div>
                                        <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked="">
                                        <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Hizmet veren</label>
                                    </div>

                                    <div>
                                        <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio">
                                        <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Hizmet alan</label>
                                    </div>
                                </div>

                                <!-- Form -->
                                <form method="post" id="register-account-form">
                                    <div class="input-with-icon-left">
                                        <i class="icon-material-baseline-mail-outline"></i>
                                        <input type="text" class="input-text with-border" name="emailaddress-register" id="emailaddress-register" placeholder="Mail" required="">
                                    </div>

                                    <div class="input-with-icon-left" data-tippy-placement="bottom" data-tippy="" data-original-title="En az 8 karakter olmalıdır">
                                        <i class="icon-material-outline-lock"></i>
                                        <input type="password" class="input-text with-border" name="password-register" id="password-register" placeholder="Şifre" required="">
                                    </div>

                                    <div class="input-with-icon-left">
                                        <i class="icon-material-outline-lock"></i>
                                        <input type="password" class="input-text with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Şifreyi tekrar gir" required="">
                                    </div>
                                </form>

                                <!-- Button -->
                                <button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form" style="width: 30px;">Kaydol <i class="icon-material-outline-arrow-right-alt"></i></button>

                                <!-- Social Login -->
                                <div class="social-login-separator"><span>Yada</span></div>
                                <div class="social-login-buttons">
                                    <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook ile kaydol</button>
                                    <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google ile kaydol</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



                <!-- Right Side Content / End -->

            </div>
        </div>
        <!-- Header / End -->

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AkuzelUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script type="text/javascript">

    function getViewComponent(target, url) {
        debugger;
        $.get(url, function (data) {
            target.html(data);
        });
    }

</script>

</html>