@* @using DevExtreme.AspNet.Data;
@using DevExpress.AspNetCore; *@
@* <style type="text/javascript">
	$(document).ready(function () {
			$("#dataGrid").dxDataGrid({
				dataSource: yourDataSource, // Veri kaynağınızı buraya belirtin
				columns: [ // Sütunlarınızı buraya belirtin
					{ dataField: "ColumnName1", caption: "Column Caption 1" },
					{ dataField: "ColumnName2", caption: "Column Caption 2" },
					// Diğer sütunlar
				],
				// Diğer seçenekleri buraya ekleyin
			});
		});
</style> *@

<!-- Dashboard Headline -->
<div class="dashboard-headline">
    <h3>Kullanıcılar</h3>
    <span></span>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Dashboard</li>
        </ul>
    </nav>
</div>
<!-- Row -->
<div class="row">

    <div class="col-xl-12">
        <!-- Dashboard Box -->
        <div class="dashboard-box main-box-in-row">
            <div class="headline">
                 <h3><i class="icon-feather-bar-chart-2"></i>Kullanıcı Listesi</h3> 
                <div @* id="toolbarContainer" *@ style="min-width:200px;" class="sort-by">
                    @* <a href="pages-checkout-page.html" class="button full-width">+</a> *@
                </div>
            </div>
            <div  class="content">
                <div id="gridContainer"></div>
            </div>

        </div>
        <!-- Dashboard Box / End -->
    </div>
</div>
<!-- Row / End -->

<script>
    
    $(() => {
        $('#gridContainer').dxDataGrid({
            dataSource: employees,
            keyExpr: 'ID',
            showBorders: true,
            editing: {
                mode: 'popup',
                allowUpdating: true,
                allowAdding: true,
                allowDeleting: true,
                popup: {
                    title: 'Employee Info',
                    showTitle: true,
                    width: 700,
                    height: 525,
                },
                form: {
                    items: [{
                        itemType: 'group',
                        colCount: 2,
                        colSpan: 2,
                        items: ['FirstName', 'LastName', 'Prefix', 'BirthDate', 'Position', 'HireDate', {
                            dataField: 'Notes',
                            editorType: 'dxTextArea',
                            colSpan: 2,
                            editorOptions: {
                                height: 100,
                            },
                        }],
                    }, {
                        itemType: 'group',
                        colCount: 2,
                        colSpan: 2,
                        caption: 'Home Address',
                        items: ['StateID', 'Address'],
                    }],
                },
            },
            columns: [
                {
                    dataField: 'Prefix',
                    caption: 'Title',
                    width: 70,
                },
                {
                    dataField: 'FirstName',
                    caption: 'İsim',
                },
                {
                    dataField: 'LastName',
                    caption: 'Soyisim',
                },
                {
                    dataField: 'Takım',
                    caption: 'Soyisim',
                },
                {
                    dataField: 'Departman',
                    caption: 'Soyisim',
                },
                {
                    dataField: 'BirthDate',
                    caption : 'Doğum Günü',
                    dataType: 'date',
                },
                {
                    dataField: 'Position',
                    width: 170,
                },
                {
                    dataField: 'HireDate',
                    dataType: 'date',
                },
                {
                    dataField: 'StateID',
                    caption: 'State',
                    width: 125,
                    lookup: {
                        dataSource: states,
                        displayExpr: 'Name',
                        valueExpr: 'ID',
                    },
                },
                {
                    dataField: 'Address',
                    visible: false,
                },
                {
                    dataField: 'Notes',
                    visible: false,
                },
                {
                    type: 'buttons',
                    width: 100,
                    buttons: [{
                        hint: 'Edit',
                        icon: 'edit',
                        cssClass: 'icon-info'
                    }, {
                        hint: 'Delete',
                        icon: 'trash',
                        cssClass : 'icon-danger'
                    }],
                    alignment: 'right',
                },
            ],
            // toolbar: {
            //     items: [
            //         {
            //             location: 'before',
            //             widget: 'dxButton',
            //             options: {
            //                 icon: 'add',
            //                 onClick: function (e) {
            //                     // Ekleme butonuna tıklandığında yapılacak işlemler
            //                 }
            //             }
            //         }
            //     ]
            // },
            onContentReady: function (e) {
                if (!e.component.__ready) {
                    e.component.__ready = true;
                }
            }
        });
    });


</script>